.main-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content-header {
  font-size: 3rem;
  font-weight: 800;
}

.main-content-body {
  background-color: #ffffff;
  padding: 1rem;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-body .header {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #235ce9;
  text-transform: uppercase;
}
